@import "../styles/vars.scss";

.filter {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid $lghtBlue;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    color: #bdbdbd;
  }
  &:active {
    color: #a1a1a1;
  }
  &_active {
    background-color: $lghtBlue;
  }
}

@media only screen and (max-width: 768px) {
  .filter {
    &:hover {
      color: $white;
    }
  }
}
