// импорты
@import-normalize;
@import "../../assets/styles/vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

// обнуление / общие стили
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #222832;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: 1px solid $white;
    outline-offset: 2px;
  }
}

@media only screen and (max-width: 768px) {
  button {
    &:focus {
      outline: none;
    }
  }
}
